<html>
<head>
   <title>Simple HERE Map</title>
   <link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.1/mapsjs-ui.css" />
   <script src="https://js.api.here.com/v3/3.1/mapsjs-core.js"></script>
   <script src="https://js.api.here.com/v3/3.1/mapsjs-service.js"></script>
   <script src="https://js.api.here.com/v3/3.1/mapsjs-ui.js"></script>
   <script src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js"></script>
   <style>
      html, body { border: 0; margin: 0; padding: 0; }
      #map { height: 80vh; width: 100vw; }
   </style>
</head>
<body>
  <form action="/ambulance" method="post">
       <div id="map"></div>
       <button type="submit" name="button">SEE HOSPITALS</button>
  </form>


<script>


const platform = new H.service.Platform({ apikey:"19Yzvz9O7CTVq1mf-B2ZzBuKz4Luu7coPP3N-Tdx5iA"});
const defaultLayers = platform.createDefaultLayers();
const map = new H.Map(document.getElementById('map'),
   defaultLayers.vector.normal.map, {
   center: { lat: 19.1335144659, lng: 72.9092113631 },
   zoom: 13,
   pixelRatio: window.devicePixelRatio || 1
});
window.addEventListener('resize', () => map.getViewPort().resize());
const behavior = new H.mapevents.Behavior(new H.mapevents.MapEvents(map));
const ui = H.ui.UI.createDefault(map, defaultLayers);

//Begin routing
//Configure transportation mode, start, end points

const request = {
   mode: 'fastest;car',
   waypoint0: 'geo!19.1335144659,72.9092113631',
   waypoint1: 'geo!19.2,73.0',
   representation: 'display'
};
//Initialize routing service
const router = platform.getRoutingService();
router.calculateRoute(request, response => {
   //Parse the route's shape
   const shape = response.response.route[0].shape.map(x => x.split(','));
   const linestring = new H.geo.LineString();
   shape.forEach(s => linestring.pushLatLngAlt(s[0], s[1]));
   //Create a polyline with the shape
   const routeLine = new H.map.Polyline(linestring, {
      style: { strokeColor: 'blue', lineWidth: 3 }
   });
   //Add route to map
   map.addObject(routeLine);
   //Zoom to bounds of the route shape
   map.getViewModel().setLookAtData({ bounds: routeLine.getBoundingBox() });
});

function addMarkersToMap(map) {
    var parisMarker = new H.map.Marker({lat:19.1335144659, lng:72.9092113631});
    map.addObject(parisMarker);

    var romeMarker = new H.map.Marker({lat:19.2, lng: 73.0});
    map.addObject(romeMarker);
}
window.onload = function () {
  addMarkersToMap(map);
}


</script>
</body>
</html>
