<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>RIAC</title>
  <link rel="stylesheet" href="css/Style4.css">
</head>

<body>
  <form class="box" action="/login" method="post">
    <h1>Login</h1>
    <input type="text" name="userName" placeholder="UserName" required>
    <input type="password" name="password" placeholder="Password" required>
    <input type="submit" name="" value="Login">

  </form>
</body>


</html>
