<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>imPULSE</title>
  <link rel="stylesheet" href="css/Style3.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>

<body>
  <div class="header" id="myHeader">
    <h1>imPULSE</h1>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div id=a1 class="col-md-4">
      </div>
      <div id="formReg" class="col-md-4 border border-dark">
        <div "border border-dark">


          <h3>Registration</h3>
          <form  action="/register" method="post">
              <label>Name</label>
              <input type="text" class="form-control" id="userName" name="text" required><br>


              <label>Email address</label>
              <input type="email" class="form-control" id="email" name="email" required><br>


              <label>Password</label>
              <input type="password" class="form-control" id="password" name="password" required><br>

              <label>Confirm Password</label>
              <input type="password" class="form-control" id="confirmPassword" name="cpassword" required><br>

            <div class="wrapper">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>


          </form>



        </div>
      </div>
      <div id=a2 class="col-md-4">

      </div>

    </div>

  </div>
  <script src="index.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Lobster&display=swap" rel="stylesheet">
</body>
<footer class="footer">
  <h6>@imPULSE</h6>
</footer>

</html>
