<html>
<head>
   <title>Simple HERE Map</title>
   <style>
      html, body { border: 0; margin: 0; padding: 0; }
      #map { height: 80vh; width: 100vw; }
   </style>
</head>
<body>

       <% for(var i=0;i<hname.length;i++) %>
       <%{%>
         <h1><%=hname[i]%></h1>
       <%}%>



</script>
</body>
</html>
