#a1{
  background-color: #d89cf6;
}
#a2{
  background-color: #d89cf6;

}
h1{
  text-align: center;
  background-color: #3e206d;
  color: #f1f1f6;
}
label{
  text-align: left;
}
.wrapper {
    text-align: center;
    position: relative;
    bottom: 10px;
}
h3{
  text-align: center;
}

.footer{
  background-color: #3e206d;
  color: #f1f1f6;
  text-align: center;
  position: relative;
  top: 10px;
}
#formReg{
  border-color: red;
}
